body{
    text-align: center;
    justify-content: center;
    display: flex;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas de igual tamaño */
    gap: 20px;
}

input {
    width: 10rem;

    height: 1rem;
}





.number{
    margin: 20px;
    height: 20px;
    border-radius: 20px;
    height: 35px;
    text-align: center;
}

.btnEnviar{
    border-radius: 10px;
    width: 150px;
    height: 50px;
    background-color: rgb(121, 89, 89);
    color: white;
    border-color: rgb(121, 89, 89);
    margin-left: 10px;
    margin-bottom: 1rem;
}

#txtCalculadora{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}